.body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.GameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black;
    height: 500px;
    width: 500px;
}

grid {
    max-width: 200px;
    max-height: 220px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    
}